@font-face {
  font-family: "iconfont";
  /* Project id 2889380 */
  src: url("//at.alicdn.com/t/font_2889380_7yft768nz4w.woff2?t=1635082345686") format("woff2"), url("//at.alicdn.com/t/font_2889380_7yft768nz4w.woff?t=1635082345686") format("woff"), url("//at.alicdn.com/t/font_2889380_7yft768nz4w.ttf?t=1635082345686") format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dianzan:before {
  content: "\e601";
}
.icon-pinglun:before {
  content: "\e602";
}
.icon-guanbi:before {
  content: "\e603";
}
.icon-shanchu:before {
  content: "\e604";
}
.icon-gengduo:before {
  content: "\e605";
}
.icon-fenxiang:before {
  content: "\e606";
}
.icon-zuojiantou:before {
  content: "\e607";
}
.icon-sousuo:before {
  content: "\e608";
}
.icon-yanzhengma:before {
  content: "\e609";
}
.icon-shouye:before {
  content: "\e60a";
}
.icon-dianzan2:before {
  content: "\e60b";
}
.icon-lishi:before {
  content: "\e60c";
}
.icon-shoucang:before {
  content: "\e60d";
}
.icon-youjiantou:before {
  content: "\e60e";
}
.icon-wuwangluo:before {
  content: "\e60f";
}
.icon-yuedu:before {
  content: "\e610";
}
.icon-shouji:before {
  content: "\e611";
}
.icon-zuopin:before {
  content: "\e612";
}
.icon-shipin:before {
  content: "\e613";
}
.icon-wenda:before {
  content: "\e614";
}
.icon-wode:before {
  content: "\e615";
}
body {
  background-color: #f8f9f9;
}
.page-nav-bar {
  background-color: #f9f9f9;
}
.van-icon {
  color: #000 !important;
}
